*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Index */

h1{
    margin: 100px 0px 50px 0px;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
}

.item{
    width: 200px;
    height: 50px;
    background-color: orangered;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover{
    background-color: blue;
}

.item a{
    color : white;
    text-decoration: none;
}

/* Menu */

.nav{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4159d4;
}

.menu{
    list-style: none;
    display: flex;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 80px;
    border-left: 1px solid #fff;
}

.menu-item:first-child{
    border-left: none;
}

.menu-item a {
    height: 100%;
    align-content: center;   
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.menu-item a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.menu-item a:active {
    color:blue;
}

.menu-item::before {
    content:'\25B6' ;
    color: #fff;
    margin-right: 5px;
}

/* Form */

.form-container{
    max-width: 700px;
    background-color: #305A61;
    border-radius: 30px;
    margin: 0 auto;
}

.form-content{
    margin: 0;
    padding: 50px 50px;
}

.form{
    width: 70%;
    margin: 0 auto;
    color: #fff;
}

.form-heading{
    text-align: center;
    color: #fff;
}

.form-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    color: #fff;

}

.form-text{
    margin: 10px 0px 50px 0px;
    font-size: 1rem;
}

.form-group{
    margin-top: 25px;
}

.form-label{
    display: block;
    font-weight: 600;
    padding-bottom: 15px;
}

.text-input{
    width: 100%;
    padding: 15px 10px;
    display: block;
    background-color: transparent;
    border: 1.2px solid #fff;
    border-radius: 5px;
    color: #ccc;   
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
    opacity: 0.9;
    cursor: pointer;
}

.form-group:has(:invalid:not(:placeholder-shown)) .text-input {
    background: rgba(214, 103, 103, 0.4);
    border: 1.2px solid red;
}

.text-input:focus{
    background:#447780 ;
    border: solid grey 1px;
    color: #fff;   
    font-weight: 400;
}

.text-input::placeholder{
    color: #ccc;
}

.img{
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 35%;
}

.radio input:not(:nth-child(2)){
    margin-left: 20px;
}

.check-box-label{
    display: block;
    padding: 10px 0px;
}

.required::after{
    content:'*';
    color: red;
    margin-left: 5px;
}

.btn{
    width: 100%;
    min-height: 50px;
    background-color: #F9C784;
    color: #1e2e2e;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #f7b24b;
    color: #1e2e2e;
}

.btn:active{
    background-color: #d99b3d;
    color: #1e2e2e;
}

/* Pricing */
.pricing-body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom , #1e90ff, #ffffff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-table{
    text-align: center;
}

.pricing-table h1{
    color: #ffffff;
    margin: 10px 0px 50px;
    font-size: 3rem;
}

.pricing-cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #ffffff;
    border-radius: 12px;
    padding: 30px 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.pricing-cards > .card:nth-child(2){
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: scale(1.08);
    z-index: 1;
}

.pricing-cards > .card:nth-child(2):hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: scale(1.13);
}

.card h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.price{
    font-size: 3rem;
    margin: 10px 0;
    color: #1e90ff;
}

.price span{
    display: block;
    font-size: 1.5rem;
    color: #999;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li{
    margin: 10px 0;
    font-size: 1.6 rem;
}

.card > ul li::before{
    content: '✓';
    color:#1e90ff;
    font-weight: bold;
    display: inline-block;
    width:20px;
}

button {
    background-color:rgb(111 165 240) ;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(43 119 225);
}

/* Blog post */

.Blog-body{
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
.header span{
    font-size: 1rem;
    color: #a09a9a;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #222;
}

p {
    margin-bottom: 1rem;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 1em;
}
  
a {
    color: #3498db;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
}

.content p:first-of-type::first-letter{
    font-size: 3rem;
    float: left;
    line-height: 1;
    padding-right: 8px;
    font-weight: bold;
    color: #2c3e50;
}

.content p::first-line {
    font-weight: bold;
    color: #34495e;
}

::selection {
    background: #0000ff;
    color: #fff;
}

blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #2980b9;
    color: #666;
    font-style: italic;
    background: #ecf0f1;
  }

blockquote p::before {
    content: "“";
    font-size: 2rem;
    color: #7f8c8d;
    margin-right: 4px;
}

blockquote p::after {
    content: "”";
    font-size: 2em;
    color: #7f8c8d;
    margin-left: 4px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

.blog-post :not(h1):is(h2, h3, h4, h5, h6) {
    color: #2980b9;
    font-style: italic;
}

.post-comment{
    margin-top: 30px;
    padding: 20px;
    background-color: #e6edee;
    border-radius: 10px;
}
.comment-header{
    display: flex;
    gap: 15px;
    align-items: center;
}

.comment-header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
}

.comment-author{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
}
.comment-time{
    font-size: 0.9rem;
    color:#999;
    line-height: 1;
}

.comment-text {
    font-size: 0.95rem;
    padding: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
}
  
.comment-text:hover {
    background: #bdc3c7;
}

.comment-text:nth-of-type(odd) {
    border-left: 4px solid #3498db;
}
  
.comment-text:nth-of-type(even) {
    border-left: 4px solid #e74c3c;
}

.Blog-body ul, ol {
    padding-left: 1.5em;
}
